[Unit]
Description=Sergen Daemon

[Service]
ExecStart=/opt/Sergen/Sergen.Master
Restart=always
User=root
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/opt/Sergen

[Install]
WantedBy=multi-user.target
